body {
    background-image: linear-gradient(#DDF0FC, #caeaff);
}

.container {
    min-height: 90vh;
}

#one-post {
    background-color: #e9edf075;
}

#btn-post button {
    margin-left: 5px;
    width: 80px;
}

footer {
    min-height: 10vh;
}